@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');
.newsBox{
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 0px 10px 0px;
    background-color: rgb(237, 237, 237);
}


.area-heading h3{
    font-size: 3rem;
    color: #387a45;
    font-weight: 700;
    padding-left: 5px;
}

.single-blog {
    transition: all 300ms linear 0s;
    position: relative;
    margin-bottom: 30px;
  
    height: 100%;
    box-shadow: .5px .5px 5px rgba(0, 0, 0, 0.186);
  
}
.short_details.left{
    margin-left: 10px;
}


.short_details a{
    text-decoration: none;
    color:black;
}

.short_details a:hover{
    color:black;
}

.single-blog.style-four .short_details {
    position: relative;
    background: #fff;
    height: 100%;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    transition: all 300ms linear 0s;
}

.single-blog.style-four h4{
    font-size: 20px !important;
line-height: 26px !important;
}

.single-blog.style-four h4:hover{
    font-size: 20px !important;
line-height: 26px !important;
color: #2f6d3b;
}
.single-blog:hover img {
    transform: scale(1.1);
}

.single-blog .thumb img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    transition: all 300ms linear 0s;
}
.thumb{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
}

.statCard{
    padding: 10px;
    width: 100%;
    height: 220px;
    position: relative;
    color: #fff;
    background-color: #387a45;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.statCard h3.statValue{
    font-weight: 1000;
    font-size: 3.5rem;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}
.statCard p{
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

}

.ourclients{
    background-color: rgb(237, 237, 237);
}

.clientCard{
    padding: 10px;
    width: 100%;
    height: 220px;
    position: relative;
    padding: 30px;
    color: #fff;
    background-color: #fff;
    box-shadow: .5px .5px 5px rgba(0, 0, 0, 0.2);
}

.ourclients .clientCard img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.ourclients .clientCard:hover{
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width:768px) {
    .single-blog:hover img {
        transform: scale(1);
    }
}