@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');
.newsBox{
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 0px 10px 0px;
    background-color: rgb(237, 237, 237);
}


.area-heading h3{
    font-size: 3rem;
    color: #387a45;
    font-weight: 700;
    padding-left: 5px;
}

.single-blog {
    transition: all 300ms linear 0s;
    position: relative;
    margin-bottom: 30px;
  
    height: 100%;
    box-shadow: .5px .5px 5px rgba(0, 0, 0, 0.186);
  
}
.short_details.left{
    margin-left: 10px;
}


.short_details a{
    text-decoration: none;
    color:black;
}

.short_details a:hover{
    color:black;
}

.single-blog.style-four .short_details {
    position: relative;
    background: #fff;
    height: 100%;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    transition: all 300ms linear 0s;
}

.single-blog.style-four h4{
    font-size: 20px !important;
line-height: 26px !important;
}

.single-blog.style-four h4:hover{
    font-size: 20px !important;
line-height: 26px !important;
color: #2f6d3b;
}
.single-blog:hover img {
    transform: scale(1.1);
}

.single-blog .thumb img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    transition: all 300ms linear 0s;
}
.thumb{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
}

.statCard{
    padding: 10px;
    width: 100%;
    height: 220px;
    position: relative;
    color: #fff;
    background-color: #387a45;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.statCard h3.statValue{
    font-weight: 1000;
    font-size: 3.5rem;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}
.statCard p{
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

}

.ourclients{
    background-color: rgb(237, 237, 237);
    margin-bottom: 0;
}

.clientCard{
    width: 100%;
    height: 220px;
    position: relative;
    padding: 50px;
    color: #fff;
    background-color: #fff;
    box-shadow: .5px .5px 5px rgba(0, 0, 0, 0.2);
}

.ourclients .clientCard img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.ourclients .clientCard:hover{
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
}


.testimonials{
    background-color: rgb(237, 237, 237);
    margin: 0;
}

.testimonials-card{
    background-color: #fff;
    width: 100%;
    padding: 40px 40px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.testimonials-layer{
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2f6d3b;
    z-index: 1;
    transition: 0.25s;
}

.testimonials-content{
    position: relative;
    z-index: 3;
}


.testimonials-card:hover .testimonials-layer{
    top: 0;
}

.testimonials-card:hover .testimonials-content p,
.testimonials-card:hover .testimonials-content .quotes-close,
.testimonials-card:hover .testimonials-content .quotes-open,
.testimonials-card:hover .testimonials-content h2,
.testimonials-card:hover .testimonials-content h2 span{
    color: #fff;
}

.testimonials-card:hover .testimonials-img{
    border: 3px #fff solid;
}

.btn-green{
    color: #387a45;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    min-height: 350px;
    margin: 0px 20px;
  }

  .testimonials-content p{
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 0;

  }
  .quotes-open{
      width: 100%;
      text-align: left;
      font-size: 50px;
      font-family: serif;
      height: 20px;
  }
  .quotes-close{
    width: 100%;
    text-align: right;
    font-size: 50px;
    line-height: 20px;
    font-family: serif;
    height: 20px;
    margin-bottom: 20px;    
}
  .testimonials-content p span{
    font-size: 50px;
    line-height: 60px;

}
  .testimonials-content h2{
    font-size: 20px;
    font-weight: 800;
    color: #387a45;

}
.testimonials-content h2 span{
    font-size: 14px;
    font-weight: 800;
    color: #47a95b;

}

  .testimonials-img{
      height: 100px;
      width: 100px;
      margin: 0 auto 10px;
      border-radius: 50%;
      overflow: hidden;
      border: 3px #387a45 solid;
  }

  .testimonials-img img{
    height: 100px;
    width: 100px;
    
}



@media screen and (max-width:768px) {
    .single-blog:hover img {
        transform: scale(1);
    }
}