.arrow1{
    height: 100px;
    position: absolute;
    animation: spin 2s linear infinite;
    background-size: contain;
    width: 100px;
    background-image: url("swacha-arrow12.png");
}
.arrow2{
    height: 100px;
    position: absolute;
    animation: spin 2s linear infinite;
    background-size: contain;
    width: 100px;
    background-image: url("swacha-arrow2.png");
}

.arrow3{
  height: 100px;
  position: absolute;
  animation: spin 2s linear infinite;
  background-size: contain;
  width: 100px;
  background-repeat: no-repeat;
  background-image: url("swacha-arrow132.png");
}


.logo2{
    width: 226px;
    position: absolute;
    height: 112px;
    background-image: url("swacha-noarrow.png");
} 

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
